@use '@/styles/variables.scss' as *;

.page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: $color-bg-page;
}

.icon {
  font-size: 120rpx;
  margin-bottom: $spacing-md;
}

.title {
  font-size: $font-size-xl;
  color: $color-text-primary;
  font-weight: $font-weight-semibold;
}

.desc {
  margin-top: $spacing-xs;
  font-size: $font-size-sm;
  color: $color-text-tertiary;
}
