@use '@/styles/variables.scss' as *;

.wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: $spacing-xl $page-padding;
}

.icon {
  font-size: 96rpx;
  margin-bottom: $spacing-md;
}

.title {
  font-size: $font-size-lg;
  color: $color-text-secondary;
  font-weight: $font-weight-medium;
}

.desc {
  margin-top: $spacing-xs;
  font-size: $font-size-sm;
  color: $color-text-tertiary;
  text-align: center;
}
